@model LoginUserViewModel

@{
    ViewBag.Title = "Login";
}

<div class="col-md-5 mx-auto">
    <h2 class="text-center">@ViewBag.Title</h2>
    <form asp-action="Login" method="post">
        <div>
            <input asp-for="Username" class="form-control p-4 my-3" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Password" class="form-control p-4 my-3" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="submit" value="Login" class="btn btn-primary btn-block p-2 mt-3" />
    </form>
    <p class="mt-2">Don't have an account? <a asp-action="Register" class="btn-link">Click here!</a></p>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}