@model RegisterUserViewModel

@{
    ViewBag.Title = "Register";
}

<div class="col-md-5 mx-auto">
    <h2 class="text-center">@ViewBag.Title</h2>
    <form asp-action="Register" method="post">
        <div>
            <input asp-for="Username" class="form-control p-4 my-3" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Password" class="form-control p-4 my-3" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="ConfirmPassword" class="form-control p-4 my-3" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <input asp-for="Email" class="form-control p-4 my-3" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="FirstName" class="form-control p-4 my-3" placeholder="First Name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input asp-for="LastName" class="form-control p-4 my-3" placeholder="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <input type="submit" value="Register" class="btn btn-primary btn-block p-2 mt-3" />
    </form>
    <p class="mt-2">Already have an account? <a asp-action="Login" class="btn-link">Click here!</a></p>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}